<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Students Add</title>
  </head>
  <!-- <link rel="stylesheet" href="/style.css"> -->
  <!-- <link rel="stylesheet" href="/sesuatu.css"> -->
  <body>
    <center>
      <h1>Edit Student Data</h1>

      <a href="#">show all data</a>
      <br><br>

        <form action="/students/edit/<%=editS.id%>" method="post">

              <!-- <%JSON.stringify(editS)%> -->
          First Name :<br>
          <input type="text" name="first_name" value="<%=editS.first_name%>">
          <br>

          Last Name :<br>
          <input type="text" name="last_name" value="<%=editS.last_name%>">
          <br>

          Email :<br>
          <input type="text" name="email" value="<%=editS.email%>">
          <br>

          Jurusan :<br>
          <input type="text" name="jurusan" value="<%=editS.jurusan%>">
          <br>

          <br>
          <input type="submit" value="Edit Student">

        </form>

<br><br>

<!-- <a href="/"><b>Home</b></a> -->

</center>

  </body>
</html>
