<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teacher Add</title>
  </head>
  <!-- <link rel="stylesheet" href="/style.css"> -->
  <!-- <link rel="stylesheet" href="/sesuatu.css"> -->
  <body>
    <center>
      <h1>Edit Teacher Data</h1>

      <a href="#">show all data</a>
      <br><br>

        <form action="/teachers/edit/<%=data_teach.id%>" method="post">
          First Name :<br>
          <input type="text" name="first_name" value="<%=data_teach.first_name%>">
          <br>

          Last Name :<br>
          <input type="text" name="last_name" value="<%=data_teach.last_name%>">
          <br>

          Email :<br>
          <input type="text" name="email" value="<%=data_teach.email%>">
          <br><br>

          <select name="dropDown">
          <%data_sub.forEach(subject => {%>
          <option value="<%= subject.id %>"><%=subject.subject_name%></option>
          <% }) %>
          </select>

          <br><br>
          <input type="submit" value="Edit Teacher">

        </form>

<br>
<!-- <a href="/"><b>Home</b></a> -->
</center>

  </body>
</html>
