<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teachers</title>
  </head>
  <!-- <link rel="stylesheet" href="/style.css"> -->
  <!-- <link rel="stylesheet" href="/sesuatu.css"> -->
  <body>
    <center>
    <h1>Teacher Data</h1>
    <p><a href="/teachers/add_teachers">add teachers</a></p>
    <table border="1" style="width:50%">
      <tr>
        <th>No.id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <%var i = 1%>
      <%dataT.forEach(function(isi){ %>
      <tr>
        <td><%=isi.id%></td>
        <td><%=isi.first_name%></td>
        <td><%=isi.last_name%></td>
        <td><%=isi.email%></td>
        <% if(isi.SubjectId == undefined) { %>
          <td>unsassigned</td>
          <% } else { %>
            <td><%=isi.Subject.subject_name%></td>
            <% } %>
        <td> <a href="/teachers/edit/<%= isi.id%>">Edit</a> </td>
        <td> <a href="/teachers/delete/<%= isi.id%>">Delete</a> </td>
      </tr>
    <%})%>
    </table>
<br><br>
<a href="/"><b>Home</b></a>

</center>

  </body>
</html>
